<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1> Products: </h1>

    <%- 
        text.map((elemento, index) => (
            "<p> id " +  elemento.id + "</p>" +
            "<p>nome: " +  elemento.name + "</p>" +
            "<p>preço: " +  elemento.price + "</p>" +
            "<p>descricao: " +  elemento.description + "</p>" +
            "<p>src imagem: " +  elemento.image + "</p>"
        ))
    %>
</body>
</html>